{
  "root": true,
  "globals": {
    "defineOptions": "readonly"
  },
  "extends": "@antfu",
  "ignorePatterns": [
    "**/node_modules/**",
    "**/bower_components/**",
    "**/vendor/**",
    "**/public/**",
    "**/storage/**"
  ]
}
